{% extends "layouts/auth.twig" %}
{% block content %}
	<!-- begin login-header -->
	<div class="login-header">
		<div class="brand">
			Crear Cuenta
		</div>
	</div>
	<!-- end login-header -->
	{% include 'layouts/alerts.twig' %}
	<!-- begin login-content -->
	<div class="login-content">
		{% set attributes = {'class': 'margin-bottom-0'} %}
		{{ form_open('/auth/register', attributes) }}
			<div class="form-group m-b-15">
				<label for="cedula_identidad">Cédula de Identidad</label>					
				<input name="cedula_identidad" type="text" class="form-control form-control-lg {% if form_error('cedula_identidad') %}is-invalid{% endif %}" id="cedula_identidad" value="{{ set_value('cedula_identidad') }}">
				{{ form_error('cedula_identidad', '<div class="invalid-feedback">', '</div>') }}
			</div>
            <div class="form-group m-b-15">
				<label for="email">E-mail</label>					
				<input name="email" type="text" class="form-control form-control-lg {% if form_error('email')  %}is-invalid{% endif %}" id="email" value="{{ set_value('email') }}">
				{{ form_error('email', '<div class="invalid-feedback">', '</div>') }}
			</div>
			<div class="form-group m-b-15">
				<label for="clave">Clave</label>
				<input name="clave" type="password" class="form-control form-control-lg {% if form_error('clave')  %}is-invalid{% endif %}" id="clave">
				{{ form_error('clave', '<div class="invalid-feedback">', '</div>') }}
			</div>
            <div class="form-group m-b-15">
				<label for="confirmar_clave">Confirmar clave</label>
				<input name="confirmar_clave" type="password" class="form-control form-control-lg {% if form_error('confirmar_clave')  %}is-invalid{% endif %}" id="confirmar_clave">
				{{ form_error('confirmar_clave', '<div class="invalid-feedback">', '</div>') }}
			</div>
			<div class="login-buttons">
				<button type="submit" class="btn btn-success btn-block btn-lg">Crear Cuenta</button>
			</div>
			<div class="m-t-20 m-b-40 p-b-40 text-inverse">
				<a href="{{ site_url('/auth/login') }}" class="btn btn-light btn-block btn-lg">Iniciar Sesión</a>
				<br />
				<a href="{{ site_url('/auth/resetpassword') }}">¿Olvidaste tu cuenta?</a>
			</div>
		{{ form_close() }}
    </div>
	<!-- end login-content -->
{% endblock %}