{% extends "layouts/auth.twig" %}
{% block content %}
	<!-- begin login-header -->
	<div class="login-header">
		<div class="brand">
			Recuperar contraseña
		</div>
	</div>
	<!-- end login-header -->
	{% include 'layouts/alerts.twig' %}
	<!-- begin login-content -->
	<div class="login-content">
		{% set attributes = {'class': 'margin-bottom-0'} %}
		{{ form_open('/auth/resetpassword', attributes) }}
			<div class="form-group m-b-15">
				<label for="email">E-mail ó Cédula de Identidad</label>					
				<input name="email" type="text" class="form-control form-control-lg {% if form_error('email')  %}is-invalid{% endif %}" id="email" value="{{ set_value('email') }}">
				{{ form_error('email', '<div class="invalid-feedback">', '</div>') }}
			</div>
			<div class="login-buttons">
				<button type="submit" class="btn btn-success btn-block btn-lg">Enviar Contraseña</button>
			</div>
			<div class="m-t-20 m-b-40 text-inverse">
				<a href="{{ site_url('/auth/login') }}" class="btn btn-light btn-block btn-lg">Iniciar Sesión</a>
			</div>
		{{ form_close() }}
    </div>	
	<!-- end login-content -->
{% endblock %}
