{% extends "layouts/app.twig" %}
{% block css %}
    <link href="{{ base_url('assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    <link href="{{ base_url('assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') }}" rel="stylesheet">
    <link href="{{ base_url('assets/plugins/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
	<!-- begin breadcrumb -->
    <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="{{ site_url('dashboard') }}">Dashboard</a></li>
        <li class="breadcrumb-item active">Tipos de Nominas</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Tipos de Nominas</h1>
    <!-- end page-header -->
    <!-- begin panel -->
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">Lista de tipo de nominas</h4>
            <a href="{{ site_url('tipos-de-nominas/crear-tipo-de-nomina') }}" class="btn btn-secondary btn-sm pull-right"><i class="far fa-plus-square"></i> Crear Tipo de Nomina</a>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="data-table-default" class="table table-striped table-bordered table-td-valign-middle">
                    <thead>
                        <tr>
                            <th width="1%">ID</th>
                            <th class="text-nowrap">Descripción</th>
                            <th class="text-nowrap">Usuario</th>
                            <th data-orderable="false"></th>
                        </tr>
                    </thead>						
				</table>
			</div>
        </div>
    </div>
    <!-- end panel -->
{% endblock %}
{% block scripts %}
	<script src="{{ base_url('assets/plugins/datatables.net/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ base_url('assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ base_url('assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ base_url('assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') }}"></script>
	<script src="{{ base_url('assets/plugins/sweetalert2/sweetalert2.all.min.js') }}"></script>
    <script>
        var main_menu = new Vue({
            el: '#main-menu',
            data: {
                isActiveNomina: true,
                isActiveNominaProcesos: false,
                isActiveConfiguracion: false,
                isActiveConfiguracionUsuarios: false,
                isActiveTiposNominas: true,
            }
        });  
       
        
        $( document ).ready(function() {
            $('#data-table-default').DataTable( {
                "processing": true,
                "serverSide": true,
                "type": "POST",
                "ajax": "{{ site_url('tipos-de-nominas/json') }}",
                "language": {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }
            });        
        }); 

        function destroy(tno_id) {
            Swal.fire({
                title: 'Elimiar Proceso',
                text: 'Desea eliminar proceso',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'No',
                confirmButtonText: 'Si'
            }).then((result) => {
                if (result.value) {
                    $.getJSON( "{{ site_url('/dashboard/security') }}", function( csrf ) {
                        var url = "{{ site_url('/tipos-de-nominas/eliminar-tipo-de-nomina') }}";
                        $.ajax({
                            url: url,
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                tno_id: tno_id,
                                {{ security.get_csrf_token_name }}: csrf.hash,
                            },
                            success: function (data) {
                                $('#data-table-default').DataTable().ajax.reload();
                                Swal.fire({
                                    title: data.title,
                                    text: data.text,
                                    icon: data.icon,
                                });
                            },
                        });
                    });
                }
            });      
        }
    </script>
{% endblock %}